.responsiveMenuIcon{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 8;
    cursor: pointer;
    display: none;
}

.menu_icon_responsive{
    width: 25px;
    height: auto;
}

@media (max-width:768px) {
    .responsiveMenuIcon{
        display: block;
    }
}